{% extends 'home.html' %}

{% block content %}

<h2>File</h2>

<form id="form1" name="form1">

  <table>
      <tr>
          <td>RA No</td><td><input type="text" id="id" value="{{ id }}" size="50"></td>
      </tr>
      <tr>
        <td>Entry Date</td><td><input type="text" id="dt" value="{{ dt }}" size="50"></td>
    </tr>      
  </table>
  <br>
  <input type="button" value="Query" onClick="query()">


</form>

<div style="overflow-x:auto;">  
    <table class="table table-borderless">
        <thead>
          <tr>
              <th scope="col">TRADE_ID-TO DELETE</th>
              <th scope="col">Operation Code</th>
              <th scope="col">Transaction Type</th>
              <th scope="col">External ID</th>
              <th scope="col">Book</th>
              <th scope="col">Prime Broker</th>
              <th scope="col">Execution Broker</th>
              <th scope="col">Bundle</th>
              <th scope="col">Side</th>
              <th scope="col">Trade Quantity</th>
              <th scope="col">Trade Price</th>
              <th scope="col">Trade Date</th>
              <th scope="col">Trade Time</th>
              <th scope="col">Settlement Date</th>
              <th scope="col">Actual Settle Date</th>
              <th scope="col">Settle Currency</th>
              <th scope="col">FX Rate</th>
              <th scope="col">Custodian Account</th>
              <th scope="col">Accrued Interest</th>
              <th scope="col">AI Override</th>
              <th scope="col">Security Description</th>
              <th scope="col">Security Type</th>
              <th scope="col">Security Sub Type</th>
              <th scope="col">ID Source</th>
              <th scope="col">Security ID</th>
              <th scope="col">Settlement Booking Date</th>
              <th scope="col">Death Date</th>
              <th scope="col">Security Currency</th>
              <th scope="col">External Security ID</th>
              <th scope="col">Accrue Date</th>
              <th scope="col">Coupon</th>
              <th scope="col">Coupon Frequency</th>
              <th scope="col">Day Count Type</th>
              <th scope="col">Issue Date</th>
              <th scope="col">Issue Price</th>
              <th scope="col">Issue Size</th>
              <th scope="col">Maturity Price</th>
              <th scope="col">Denom</th>
              <th scope="col">Outstanding Amount</th>
              <th scope="col">Business Day Convention</th>
              <th scope="col">First Coupon</th>
              <th scope="col">Trade Notes</th>
              <th scope="col">Posting Date</th>
              <th scope="col">Draw Date</th>
              <th scope="col">Draw Currency</th>
              <th scope="col">Funding Date</th>
              <th scope="col">Fx Trade Date</th>
              <th scope="col">Security Country</th>
              <th scope="col">Tax</th>           
          </tr>
        </thead>
        <tbody>

          {% if rs|length > 0 %}
              {% for item in rs %}
              <tr>
                  <td>{{ item[0] }}</td>
                  <td>{{ item[1] }}</td>
                  <td>{{ item[2] }}</td>
                  <td>{{ item[3] }}</td>
                  <td>{{ item[4] }}</td>
                  <td>{{ item[5] }}</td>
                  <td>{{ item[6] }}</td>
                  <td>{{ item[7] }}</td>
                  <td>{{ item[8] }}</td>
                  <td>{{ item[9] }}</td>
                  <td>{{ item[10] }}</td>
                  <td>{{ item[11] }}</td>
                  <td>{{ item[12] }}</td>
                  <td>{{ item[13] }}</td>
                  <td>{{ item[14] }}</td>
                  <td>{{ item[15] }}</td>
                  <td>{{ item[16] }}</td>
                  <td>{{ item[17] }}</td>
                  <td>{{ item[18] }}</td>
                  <td>{{ item[19] }}</td>
                  <td>{{ item[20] }}</td>
                  <td>{{ item[21] }}</td>
                  <td>{{ item[22] }}</td>
                  <td>{{ item[23] }}</td>
                  <td>{{ item[24] }}</td>
                  <td>{{ item[25] }}</td>
                  <td>{{ item[26] }}</td>
                  <td>{{ item[27] }}</td>
                  <td>{{ item[28] }}</td>
                  <td>{{ item[29] }}</td>
                  <td>{{ item[30] }}</td>
                  <td>{{ item[31] }}</td>
                  <td>{{ item[32] }}</td>
                  <td>{{ item[33] }}</td>
                  <td>{{ item[34] }}</td>
                  <td>{{ item[35] }}</td>
                  <td>{{ item[36] }}</td>
                  <td>{{ item[37] }}</td>
                  <td>{{ item[38] }}</td>
                  <td>{{ item[39] }}</td>
                  <td>{{ item[40] }}</td>
                  <td>{{ item[41] }}</td>
                  <td>{{ item[42] }}</td>
                  <td>{{ item[43] }}</td>
                  <td>{{ item[44] }}</td>
                  <td>{{ item[45] }}</td>
                  <td>{{ item[46] }}</td>
                  <td>{{ item[47] }}</td>
                  <td>{{ item[48] }}</td>                
              </tr>
              </p>
              {% endfor %}
          {% endif %}
        </tbody>
    </table>
</div>

<script>

  function query() {
      form = document.getElementById("form1")
      id = document.getElementById("id").value
      dt = document.getElementById("dt").value
      if (id.trim() == "") {
          alert("Payment Id is mandatory");
          return;
      }     
      if (dt.trim() == "") 
      {
          alert('Date(s) are mandatory');
          return;
      }      
      form1.method = "post"
      form.action = "/file_list/" + id + "/" + dt
      form.submit()
  }

</Script>  

{% endblock %}

