{% extends "base.html" %}

{% block menu %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand link-dark" href="#">Snowflake</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link link-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Data
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/cash_overview_list/0">Cash Overview</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/payment_list/0">Payments</a></li>
              <li><a class="dropdown-item" href="/transaction_list/0">Dealer Transaction</a></li>
              <li><a class="dropdown-item" href="/arcesium_list/0">Arcesium Trades</a></li>              
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<hr>
{% endblock %}

{% block content %}
    <p>Contents go here</p>
{% endblock %}

