{% extends 'home.html' %}

{% block content %}

<h2>Report</h2>

<form id="form1" name="form1">
  <input type="text" id="id" value="{{ id }}"> <input type="button" value="Query" onClick="query()">
</form>
<br>
<br>

<h2>Payment</h2>
<div className="table-responsive">
    <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ORIGINAL_AMOUNT</th>
            <th scope="col">OPEN_AMOUNT</th>
            <th scope="col">TYPE</th>
            <th scope="col">STATUS</th>
            <th scope="col">VALUE_DATE</th>
            <th scope="col">CURRENCY</th>
            <th scope="col">REFERENCE</th>
            <th scope="col">DEBIT_CREDIT</th>
            <th scope="col">PROGRAM_CODE</th>
            <th scope="col">PROGRAM_NAME</th>
            <th scope="col">ACCOUNT_NUMBER</th>
            <th scope="col">MODIFIED_DATE</th>       
          </tr>
        </thead>
        <tbody>
        {% if rs_pmt|length > 0 %}
            {% for item in rs_pmt %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ '{:,.2f}'.format(item[1]) }}</td>
                <td>{{ '{:,.2f}'.format(item[2]) }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
                <td>{{ item[5] }}</td>
                <td>{{ item[6] }}</td>
                <td>{{ item[7] }}</td>
                <td>{{ item[8] }}</td>
                <td>{{ item[9] }}</td>
                <td>{{ item[10] }}</td>
                <td>{{ item[11] }}</td>
                <td>{{ item[12] }}</td>
                <td>{{ item[13] }}</td>            
            </tr>
            </p>
            {% endfor %}
        {% endif %}
      </tbody>
    </table>
</div>

<br>
<h2>Transactions</h2>
<div style="overflow-x:auto;">
<table class="table table-borderless">
    <thead>
        <tr>
        <th scope="col">SIDE</th>
        <th scope="col">GEO_ID</th>
        <th scope="col">GEO</th>
        <th scope="col">FIN_ACCTID</th>
        <th scope="col">FIN_NAME</th>
        <th scope="col">FIN_CD</th>
        <th scope="col">FIN_CUR</th>
        <th scope="col">SUP_ACCTID</th>
        <th scope="col">SUP_NAME</th>
        <th scope="col">SUP_CD</th>
        <th scope="col">DLR_ACCTID</th>
        <th scope="col">DLR_NAME</th>
        <th scope="col">DLR_CD</th>
        <th scope="col">JRNL_CD</th>
        <th scope="col">JRNL_DESC</th>
        <th scope="col">TRX_CD</th>
        <th scope="col">TRX_DESC</th>
        <th scope="col">POST_DT</th>
        <th scope="col">SEC_RF_KEY</th>
        <th scope="col">EFFEC_DT</th>
        <th scope="col">AMT_LC</th>
        <th scope="col">RA_NO</th>
        <th scope="col">RA_DESC</th>
        <th scope="col">FST</th>
        <th scope="col">UFA_RA_NO</th>
        <th scope="col">UFA_POSTDT</th>
        <th scope="col">UFA_SEQ_NO</th>
        <th scope="col">UFA_FST</th>
        <th scope="col">CRN_MATCH_ID</th>
        <th scope="col">BINV_NO</th>
        <th scope="col">LOAN_NO</th>
        <th scope="col">INT_CRN_NO</th>
        <th scope="col">UFA_BINVNO</th>
        <th scope="col">BINV_TYPE</th>
        <th scope="col">BOOK</th>
        <th scope="col">SETT_DUEDT</th>
        <th scope="col">LOAN_MATCH_ID</th>
        <th scope="col">SPN</th>
        <th scope="col">SETT_DUEDT</th>
        <th scope="col">UNIQUE_ID</th>
        <th scope="col">SUP_FEERTE</th>
        <th scope="col">ORI_LOANNO</th>
        <th scope="col">BINV_COML1</th>
        <th scope="col">FUT_PMT_DT</th>
        <th scope="col">CHG_ST_DT</th>
        <th scope="col">BATCH_ID</th>
        <th scope="col">MODIFIED</th>
        <th scope="col">LINE_NO</th>
        <th scope="col">MAT_CRN_NO</th>         
        </tr>
    </thead>
    <tbody>

      {% if rs_trx|length > 0 %}
          {% for item in rs_trx %}
          <tr>
              <td>{{ item[0] }}</td>
              <td>{{ item[1] }}</td>
              <td>{{ item[2] }}</td>
              <td>{{ item[3] }}</td>
              <td>{{ item[4] }}</td>
              <td>{{ item[5] }}</td>
              <td>{{ item[6] }}</td>
              <td>{{ item[7] }}</td>
              <td>{{ item[8] }}</td>
              <td>{{ item[9] }}</td>
              <td>{{ item[10] }}</td>
              <td>{{ item[11] }}</td>
              <td>{{ item[12] }}</td>
              <td>{{ item[13] }}</td>
              <td>{{ item[14] }}</td>
              <td>{{ item[15] }}</td>
              <td>{{ item[16] }}</td>
              <td>{{ item[17] }}</td>
              <td>{{ item[18] }}</td>
              <td>{{ '{:,.2f}'.format(item[19]) }}</td>
              <td>{{ item[20] }}</td>
              <td>{{ item[21] }}</td>
              <td>{{ item[22] }}</td>
              <td>{{ item[23] }}</td>
              <td>{{ item[24] }}</td>
              <td>{{ item[25] }}</td>
              <td>{{ item[26] }}</td>
              <td>{{ item[27] }}</td>
              <td>{{ item[28] }}</td>
              <td>{{ item[29] }}</td>
              <td>{{ item[30] }}</td>
              <td>{{ item[31] }}</td>
              <td>{{ item[32] }}</td>
              <td>{{ item[33] }}</td>
              <td>{{ item[34] }}</td>
              <td>{{ item[35] }}</td>
              <td>{{ item[36] }}</td>
              <td>{{ item[37] }}</td>
              <td>{{ item[38] }}</td>
              <td>{{ item[39] }}</td>
              <td>{{ item[40] }}</td>
              <td>{{ item[41] }}</td>
              <td>{{ item[42] }}</td>
              <td>{{ item[43] }}</td>
              <td>{{ item[44] }}</td>
              <td>{{ item[45] }}</td>
              <td>{{ item[46] }}</td>
              <td>{{ item[47] }}</td>
              <td>{{ item[48] }}</td>             
          </tr>
          {% endfor %}
      {% endif %}
    </tbody>
  </table>
  </div>

  <br>
  <h2>Arcesium</h2>
  <div style="overflow-x:auto;"> 
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Trade Id</th>
          <th scope="col">Trade Date</th>
          <th scope="col">Side</th>
          <th scope="col">Quantity</th>
          <th scope="col">Currency</th>
          <th scope="col">St. Date</th>
          <th scope="col">Time Entered</th>
        </tr>
      </thead>
      <tbody>
  
        {% if rs_arc|length > 0 %}
            {% for item in rs_arc %}
            <tr>
              <td>{{ item[0] }}</td>
              <td>{{ item[1] }}</td>
              <td>{{ item[2] }}</td>  
              <td>{{ '{:,.2f}'.format(item[3]) }}</td>          
              <td>{{ item[4] }}</td>
              <td>{{ item[5] }}</td>          
              <td>{{ item[6] }}</td>
            </tr>
            </p>
            {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

<script>
  function query() {

      form = document.getElementById("form1")
      id = document.getElementById("id").value

      if (id.trim() == "") {
          alert("Payment Id is mandatory");
          return;
      }         

      form1.method = "post"
      form.action = "/report_list/" + id
      form.submit()
  }
</Script>  


{% endblock %}

